---
import type { JSX } from 'astro/jsx-runtime';
import { Image } from 'astro:assets';

import { avatar, banner, optimizedSouhaitChan } from '@/constants/image';
import { transitionNames } from '@/constants/transition';

type Props = {
  nameElement?: keyof JSX.DefinedIntrinsicElements;
  blurBanner?: boolean;
};

const { nameElement: NameElement = 'h1', blurBanner = false } = Astro.props;
---
<div class='banner-wrapper'>
  <Image
    src={banner}
    alt='Banner'
    width={1280 / 2}
    height={720 / 2}
    class:list={['banner', blurBanner && 'blur']}
    loading='eager'
  />
</div>
<div class='profile'>
  <Image
    src={avatar}
    alt='Avatar'
    width={256}
    height={256}
    class='avatar'
    loading='eager'
    transition:name={transitionNames.souhaitChan}
  />
  <NameElement class='name'>すえ</NameElement>
  <p class='text'>なんかいろいろやってる人</p>
  <p class='text'>TypeScriptとリズムゲームと100カノで生きています</p>
  <p class='text'>アイコンの子は<a href='/souhait-chan/'>すえちゃん</a>です</p>
</div>

<Fragment slot='head'>
  <link rel='preload' href={optimizedSouhaitChan.src} as='image' />
</Fragment>

<style lang='scss'>
  @use '@/styles/shapes' as s;
  .banner-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .banner {
    display: block;
    width: 100%;
    height: 13rem;
    object-fit: cover;

    &.blur {
      opacity: 0.5;
      filter: blur(15px);
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: s.$space;
    text-align: center;
  }
  .avatar {
    display: block;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    border-radius: 100%;
  }
  .name {
    width: 100%;
    margin: 0;
    margin-top: s.$space;
    font-size: 1.5rem;
    font-weight: inherit;
  }
  .text {
    margin: 0;
    margin-top: calc(s.$space / 2);
  }
</style>
