---
import { YouTube } from '@astro-community/astro-embed-youtube';

import Card from '@/components/card.astro';
import CardBody from '@/components/card-body.astro';
import ExternalLink from '@/components/external-link.astro';
import NDaysLater from '@/components/n-days-later.astro';
import { transitionNames } from '@/constants/transition';
import ProfileContent from '@/features/profile/profile-content.astro';
import YearsOld from '@/features/profile/years-old.svelte';
import BaseLayout from '@/layouts/base-layout.astro';
---

<BaseLayout title='すえについて' description='あばうとみー'>
  <div class='stack'>
    <Card transition:name={transitionNames.profileCard}>
      <ProfileContent />
      <div class='profile'>
        <dl>
          <dt>誕生日</dt>
          <dd>5/8 (<NDaysLater month={5} day={0}/>日後)</dd>
          <dt>年齢</dt>
          <dd><YearsOld client:idle /></dd>
        </dl>
      </div>
    </Card>
    <Card>
      <CardBody>
        <h2>名前について</h2>
        <p>
          <ruby>souhait<rp>(</rp><rt>すえ</rt><rp>)</rp></ruby>です。<b
          >決してそうはいとではありません。</b
          >
        </p>
        <p>前はLG Electronics Botだったりhakunagiだったりしました。</p>
      </CardBody>
    </Card>
    <Card>
      <CardBody>
        <h2>ぷろぐらみんぐ</h2>
        <p>趣味その1兼お仕事です。TypeScriptなWebアプリをよく書いてます。</p>
        <p>お仕事がそうなので<ExternalLink href='https://ja.react.dev'>React</ExternalLink>ばかり書いてます。</p>
        <p>バックエンドとかAWSもちょっとできます。</p>
        <p>公開済みの制作物は<a href='/product/'>ここ</a>に載せてあります</p>
      </CardBody>
    </Card>
    <Card>
      <CardBody>
        <h2>げーむ</h2>
        <p>
          趣味その2です。リズムゲームばっかりやってます。たまにサンドボックスやアクションをやったり。
        </p>
        <p>
          2025年1月現在は<ExternalLink href='https://world-dai-star.com/game'
          >ワールドダイスター 夢のステラリウム</ExternalLink
          >と<ExternalLink href='https://gakuen.idolmaster-official.jp'
          >学園アイドルマスター
          </ExternalLink>に浸かっています。
        </p>
        <p>
          ユメステリリース前は<ExternalLink
            href='https://miku.sega.jp/mega39splus/'
          >初音ミク Project DIVA MEGA39’s+</ExternalLink
          >をひたすらやっていました。<ExternalLink
            href='https://submarin.online/notes/9cvsn71ik9'
          >専用アケコンもあります。</ExternalLink
          >
        </p>
      </CardBody>
    </Card>
    <Card>
      <CardBody>
        <h2>あにめ</h2>
        <p>
          趣味その3です。放送中のアニメを追っかけたりしてます。
        </p>
        <p>
          2023年10月23日、<ExternalLink href='https://hyakkano.com/character/shizuka/'>好本静ちゃん</ExternalLink
          >に人生を狂わせられました
        </p>
      </CardBody>
    </Card>
    <section>
      <h2>視聴覚室</h2>
      <Card>
        <YouTube id='Dh79Lk_wCD4' />
      </Card>
    </section>
  </div>
</BaseLayout>

<style lang='scss'>
  @use '@/styles/shapes' as s;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: s.$space;
    text-align: center;
  }
  dl {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: s.$space;
    margin: 0;
    margin-top: calc(s.$space / 2);
    text-align: left;
  }
  dd {
    margin: 0;
  }
  .stack {
    display: flex;
    flex-direction: column;
    gap: s.$space;
  }
</style>
