---
import BaseLayout from '@/layouts/base-layout.astro';
import ProductCard from '@/features/product/profuct-card.astro';
import ExternalLink from '@/components/external-link.astro';
---

<BaseLayout title='作ったもの' description='ポートフォリオっぽい何か'>
	<h1>作ったもの</h1>
	<p>並びは適当です</p>
	<div class='stack'>
		<ProductCard title='souhait.me' href='https://souhait.me'>
			<p>このサイトです</p>
			<p>ちょっと前まではApp RouterなNext.js製でしたがAstroに乗り換えました</p>
			<p>
				特に意味もなく<ExternalLink
					href='https://github.com/souhait0614/souhait.me'
					>オープンソースとして公開</ExternalLink
				>しています
			</p>
		</ProductCard>
		<ProductCard title='api.souhait.me' href='https://api.souhait.me'>
			<p>
				自分が使うために作ったWebAPI鯖プログラム(多分SubmarinConverterWebにしか使わない)
			</p>
			<p>無駄にHono製 無駄にSSR</p>
			<p>
				これも特に意味もなく<ExternalLink
					href='https://github.com/souhait0614/api.souhait.me'
					>オープンソースとして公開</ExternalLink
				>しています
			</p>
		</ProductCard>
		<ProductCard
			title='Monesting'
			href='https://github.com/souhait0614/monesting'
		>
			<p>完全自分用サブスクリプション管理Webアプリ</p>
			<p>
				SvelteKitがいい感じだったのでSMUIと組み合わせて作りました <s
					>でもSMUIやめたい</s
				>
			</p>
			<p>誰でも使える形での一般公開はしてないです</p>
		</ProductCard>
		<ProductCard
			title='Submarin Converter (Web)'
			href='https://submarin-converter.vercel.app/'
		>
			<p>文字置換ライブラリを寄せ集めて作ったおもしろ日本語生成機のWeb版</p>
			<p>HTMLとSassとフレームワーク未使用TypeScriptで頑張っていた時代の遺産</p>
			<p>作り直したい</p>
		</ProductCard>
		<ProductCard title='MarinDeck' href='https://hisubway.online/marindeck/'>
			<p>
				<ExternalLink href='https://tweetdeck.twitter.com/'
					>TweetDeck</ExternalLink
				>をスマホで使いやすくするためのラッパーアプリ
			</p>
			<p>内部で使われているカスタムCSSとJSの一部を作りました</p>
			<p>旧TweetDeckがサービス終了したので死にました</p>
		</ProductCard>
		<ProductCard title='BulkBlock' href='https://hisubway.online/bulkblock/'>
			<p>
				ツイートを検索して引っかかったツイートをしたユーザーを一括でブロックするWebアプリ
			</p>
			<p>
				当時ハマってたSvelteでフロントエンドを作りました(バックエンドは<ExternalLink
					href='https://stesan.dev/'>別人</ExternalLink
				>制作のPython)
			</p>
			<p>TwitterAPIが実質サービス終了したので死にました</p>
		</ProductCard>
		<ProductCard title='CoCntbrBlocker' href='https://blocklist.hmpf.club/'>
			<p>
				BulkBlockを改造して作られたCoCシナリオネタバレアカウントブロックWebアプリ
			</p>
			<p>
				フロントを勝手に改修したりしました(メイン開発者はBulkBlockのバックエンドを作った<ExternalLink
					href='https://stesan.dev/'>別人</ExternalLink
				>)
			</p>
			<p>BulkBlockと同じくTwitterAPIが実質サービス終了したので死にました</p>
		</ProductCard>
		<ProductCard
			title='FeedField'
			href='https://play.google.com/store/apps/details?id=online.hisubway.feedfield'
		>
			<p>Android向けはてなブックマークコメントリーダー付きRSSリーダーアプリ</p>
			<p>内部で使われているWebアプリを作りました</p>
		</ProductCard>
		<ProductCard title='Fast Coder' href='https://fastcoder.vercel.app/'>
			<p>
				何故かBase64で会話することが流行っていた時期があったので勢いで作った極小サイズBase64エンコーダー/デコーダーWebアプリ
			</p>
		</ProductCard>
	</div>
</BaseLayout>

<style lang='scss'>
	@use '@/styles/shapes' as s;

	h1 {
		margin-top: 0;
	}

	.stack {
		display: flex;
		flex-direction: column;
		gap: s.$space;
	}
</style>
