# SPDX-FileCopyrightText: 2024 taiy https://github.com/taiyme
# SPDX-License-Identifier: MIT

name: Lint

on:
  push:
    branches:
      - main

  pull_request_target:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  pre-checkout:
    name: Pre checkout
    uses: ./.github/workflows/pre-checkout.yaml

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    needs:
      - pre-checkout
    strategy:
      matrix:
        linter:
          - eslint
          - stylelint
          - typescript
        include:
          - linter: eslint
            linter-command-name: lint:eslint
            linter-cache-version: v1
          - linter: stylelint
            linter-command-name: lint:stylelint
            linter-cache-version: v1
          - linter: typescript
            linter-command-name: lint:typescript
    env:
      linter-cache-path: ${{ github.workspace }}/node_modules/.cache/${{ matrix.linter }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: ${{ needs.pre-checkout.outputs.sha }}
          fetch-depth: 1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Restore ${{ matrix.linter }} cache
        if: ${{ matrix.linter-cache-version }}
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ env.linter-cache-path }}
          key: ${{ matrix.linter }}-${{ matrix.linter-cache-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ needs.pre-checkout.outputs.sha }}
          restore-keys: ${{ matrix.linter }}-${{ matrix.linter-cache-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Run ${{ matrix.linter }} command
        run: |
          pnpm run ${{ matrix.linter-command-name }} ${{ matrix.linter-cache-version && format('--cache --cache-location ''{0}'' --cache-strategy content', env.linter-cache-path) || '' }}