# SPDX-FileCopyrightText: 2024 taiy https://github.com/taiyme
# SPDX-License-Identifier: MIT

name: Lint

on:
  push:
    branches:
      - main

  pull_request_target:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  pre-checkout:
    name: Pre checkout
    uses: ./.github/workflows/pre-checkout.yaml

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    needs:
      - pre-checkout
    strategy:
      matrix:
        linter:
          - eslint
          - stylelint
        include:
          - linter: eslint
            linter-command-name: lint:ts
            linter-cache-version: v1
          - linter: stylelint
            linter-command-name: lint:css
            linter-cache-version: v1
    env:
      linter-cache-path: ${{ github.workspace }}/node_modules/.cache/${{ matrix.linter }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          ref: ${{ needs.pre-checkout.outputs.sha }}
          fetch-depth: 1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Restore ${{ matrix.linter }} cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ env.linter-cache-path }}
          key: ${{ matrix.linter }}-${{ matrix.linter-cache-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ needs.pre-checkout.outputs.sha }}
          restore-keys: ${{ matrix.linter }}-${{ matrix.linter-cache-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Run ${{ matrix.linter }} command
        run: |
          pnpm run ${{ matrix.linter-command-name }} \
            --cache \
            --cache-location '${{ env.linter-cache-path }}' \
            --cache-strategy content